<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter - cadastro</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">  
</head>
<body>
    <h1 class="title" data-aos="fade-down">NEWSLETTER</h1>
    <p data-aos="fade-down">Cadastro de emails</p>
    <form class="form" action="/cadastro" method="post" data-aos="fade-down">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <button class="btn btn-custom" type="submit">Cadastrar</button>
    </form>
    <p class="pt-4" data-aos="fade-down">Quer ver quem confia na gente? <a href="/emails">clique aqui</a></p>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</html>