<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter - sucesso</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">   
</head>
<body>
    <h1 class="title">Email cadastrado!</h1>
    <p>Fique atento a sua caixa de entrada para receber as novidades :)</p>
    <img class="img-sucess" src="/conceito-de-transferencia-de-arquivos-para-landing-page.png" alt="Imagem de sucesso">


</body>
</html>